/* Overwrite the browser default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* some body css */
body {
  margin: 0;
  font-family: "Open-Sans", sans-serif;
  color: #3434a4;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 80px;
  background-color: antiquewhite;
}
